$pf-global--font-path: '~@patternfly/patternfly-next/assets/fonts/';
$fa-font-path: '~@patternfly/patternfly-next/assets/fonts/webfonts/';
$pf-global--image-path: '~@patternfly/patternfly-next/assets/images/';
@import "~@patternfly/patternfly-next/patternfly-base.scss";